<h2>Course detail</h2>
<h3>Name:  <%= @course.name %></h3>
<h3>Teacher:  <%= @course.teacher %></h3>
<h3>Time:  <%= @course.time %></h3>
<h3>Local:  <%= @course.local %></h3>
<h3>Credit:  <%= @course.credit %></h3>